<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http:://www.spaburada.com/assets/images/favicon/1.png" type="image/x-icon">
    <link rel="shortcut icon" href="http:://www.spaburada.com/assets/images/favicon/1.png" type="image/x-icon">
    <title>SpaBurada | Sipariş </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <style type="text/css">
        body{
            text-align: center;
            margin: 0 auto;
            width: 650px;
            font-family: 'Open Sans', sans-serif;
            background-color: #e2e2e2;
            display: block;
        }
        ul{
            margin:0;
            padding: 0;
        }
        li{
            display: inline-block;
            text-decoration: unset;
        }
        a{
            text-decoration: none;
        }
        p{
            margin: 15px 0;
        }

        h5{
            color:#444;
            text-align:left;
            font-weight:400;
        }
        .text-center{
            text-align: center
        }
        .main-bg-light{
            background-color: #fafafa;
        }
        .title{
            color: #444444;
            font-size: 22px;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-bottom: 0;
            text-transform: uppercase;
            display: inline-block;
            line-height: 1;
        }
        table{
            margin-top:30px
        }
        table.top-0{
            margin-top:0;
        }
        table.order-detail , .order-detail th , .order-detail td {
            border: 1px solid #ddd;
            border-collapse: collapse;
        }
        .order-detail th{
            font-size:16px;
            padding:15px;
            text-align:center;
        }
        .footer-social-icon tr td img{
            margin-left:5px;
            margin-right:5px;
        }
    </style>
</head>
<body style="margin: 20px auto;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 0 30px;background-color: #fff; -webkit-box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);box-shadow: 0px 0px 14px -4px rgba(0, 0, 0, 0.2705882353);width: 100%;">
    <tbody>
    <tr>
        <td>
            <table align="center" border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td>
                        <img src="http:://www.spaburada.com/assets/images/email-temp/delivery.png" alt="" style=";margin-bottom: 30px;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="http:://www.spaburada.com/assets/images/email-temp/success.png" alt="">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2 class="title">TEŞEKKÜRLER</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Siparişiniz Alındı</p>
                        <p>Sipariş Numarası:{{ order.orderId }}</p>
                    </td>
                </tr>
                <tr>

                    <td>
                        <div style="border-top:1px solid #777;height:1px;margin-top: 30px;">
                        </div></td>
                </tr>
                </tbody></table>
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody><tr>
                    <td>
                        <h2 class="title">Sipariş Detayı</h2>
                    </td>
                </tr>
                </tbody></table>
            <table class="order-detail" border="0" cellpadding="0" cellspacing="0" align="left">
                <tbody><tr align="left">
                    <th>Ürün</th>
                    <th style="padding-left: 15px;">Açıklama</th>
                    <th>Adet</th>
                    <th>Fiyat </th>
                </tr>
                {% for item in order.detail %}
                <tr>
                    <td>
                        <img src="http:://www.spaburada.com/images/{{ item.product.product.getMainImage.image  }}" alt="" width="70">
                    </td>
                    <td valign="top" style="padding-left: 15px;">
                        <h5 style="margin-top: 15px;">{{ item.product.product.title }}</h5>
                        <h5 style="font-size: 14px; color:#444;margin-top:15px;    margin-bottom: 0px;">Detay : <span> {{ item.product.title }}</span> </h5>
                    </td>
                    <td valign="top" style="padding-left: 15px;">
                        <h5 style="font-size: 14px; color:#444;margin-top: 10px;"><span>{{ item.quantity }}</span></h5>
                    </td>
                    <td valign="top" style="padding-left: 15px;">
                        <h5 style="font-size: 14px; color:#444;margin-top:15px"><b>{{ item.price | number_format(2, '.', ',')}} TL</b></h5>
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" style="line-height: 49px;font-size: 13px;color: #000000;padding-left: 20px;text-align:left;border-right: unset;">Ara Toplam:</td>
                    <td colspan="3" class="price" style="line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>{{ order.total | number_format(2, '.', ',') }} TL</b></td>
                </tr>
                <tr>
                    <td colspan="2" style="line-height: 49px;font-size: 13px;color: #000000;padding-left: 20px;text-align:left;border-right: unset;">KDV:</td>
                    <td colspan="3" class="price" style="line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>{{ order.tax | number_format(2, '.', ',') }} TL</b></td>
                </tr>
                <tr>
                    <td colspan="2" style="line-height: 49px;font-size: 13px;color: #000000;
                                    padding-left: 20px;text-align:left;border-right: unset;">TOPLAM :</td>
                    <td colspan="3" class="price" style="line-height: 49px;text-align: right;padding-right: 28px;font-size: 13px;color: #000000;text-align:right;border-left: unset;"><b>{{ (order.total + order.tax) | number_format(2, '.', ',') }} TL</b></td>
                </tr>
                </tbody></table>
        </td>
    </tr>
    </tbody>
</table>
</body></html>