{% extends 'multikart/main.html.twig' %}

{% block title %}{{breadcrumb.title}}{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}

    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    {%  include 'multikart/partial/corporate-left.html.twig' %}
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="top-banner-wrapper">
                                        <div class="top-banner-content">
                                            <h4>{{breadcrumb.title}}</h4>
                                            <div class="accordion theme-accordion" id="accordionExample">
                                                <div class="card">
                                                    <div class="card-header" id="headingOne">
                                                        <h5 class="mb-0"><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Kodum nerede?</button></h5></div>
                                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <p>Spaburada Kodunuzu bulmak için, satın alma sırasında ibraz ettiğiniz mail adresinde bulabilirsiniz</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Kodumu nasıl kullanabilirim?</button></h5></div>
                                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <p>Size gönderdiğimiz Kupon Kodu içeren mailde, fırsatın sunulduğu işletmeye ait iletişim bilgileri de yer almaktadır, işletmeye isminizle birlikte fırsat kodunuzu beyan ettiğinizde size özel indirim geçerli olacaktır. Örneğin, 100 TL’lik masajı 50 TL’ye yaptırabilirsiniz.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingThree">
                                                        <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">İade politikası</button></h5></div>
                                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <p>Kupon kodunuzu, fırsatı satın aldıktan sonra ki 7 gün içerisinde iade alabilirsiniz. Rezervasyon yaptırdıysanız işletme ile görüşüp, iptal ettirdikten (rezervasyonunuzu 24 saat öncesinden iptal ettirmelisiniz) sonra herhangi bir kesinti olmadan iade alabilirsiniz. Fırsatı satın alıp rezervasyon yaptırmadıysanız koşulsuz bir şekilde iade alabilirsiniz</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingFour">
                                                        <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">İşletmenin gerçekten indirim yaptığından nasıl emin olabilirim?</button></h5></div>
                                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <p>Bunun için hemen ilgili işletmeyi arayıp fiyatlarını sorabilirsiniz. İndirimlerimizin sokaktan geçen bir müşteriye verilebilecek standart indirimlerin çok altında olduğunu göreceksiniz</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header" id="headingFive">
                                                        <h5 class="mb-0"><button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Kodumun süresi dolarsa ne yapmalıyım?</button></h5></div>
                                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <p>Her kodun farklı bir sona erme süresi vardır, ve bu sebeple belirtilen tarihten önce kodunuzu kullanmanız gerekmektedir. Eğer kullanım sırasında herhangi bir zorluk yaşarsanız, Bizimle iletişime geçebilirsiniz.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}