{% extends 'multikart/main.html.twig' %}

{% block title %}Spaburada  Hakkında{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section"><img src="../assets/images/about/about%20us.jpg" class="img-fluid blur-up lazyloaded" alt=""></div>
            </div>
            <div class="col-sm-12">
                <p>Spaburada; spa, wellness, termal (kaplıca), hamam,   masaj hizmeti, fitness, spor programları,  veren müşterilerinin ilanlarını yayınlayarak, onların yeni müşterilerle tanışmasını sağlayan bir internet sitesidir.</p>
                <p>Yaşam kaynağımız olan suyun arındırıcı ve dinlendirici etkisini, SPA kültürünün yaygınlaşması ile her geçen gün daha fazla yaşama imkanı buluyoruz. Stresle dolu bir dünyada rahatlamanın ve yapılan bakımlarla zindeleşip, güzelleşmenin en kestirme yolunu SPA merkezlerinde bulan pek çok insan bu keşfinin tadını çıkarırken, yenilikleri de dikkatle takip ediyor.</p>
                <p>Spaburada olarak ülkemizde artık neredeyse her otelin bünyesinde ve bağımsız merkezlerde yer alan SPA merkezlerini bir çatı altında beğeninize sunuyoruz.
                    Özel yetkinlik alanları, kişiye özel hizmetleri, sağlıklı yaşama hizmet eden korunma ve bazı medikal tedaviler ile çeşitlilik içerisinde hizmet sunan bu merkezlere Spaburada üzerinden rahatça ulaşabilir ve size en uygun merkezi kolayca bulabilirsiniz.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}