{% extends 'base.html.twig' %}

{% block stylesheets %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{ asset(  'assets/images/favicon/1.png')}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{ asset('/assets/images/favicon/1.png')}}" type="image/x-icon">
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/multikart/assets/css/fontawesome.css')}}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('/multikart/assets/css/slick.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/multikart/assets/css/slick-theme.css')}}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/multikart/assets/css/animate.css')}}">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/multikart/assets/css/themify-icons.css')}}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/multikart/assets/css/bootstrap.css')}}">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/multikart/assets/css/color1.css')}}" media="screen" id="color">
{% endblock %}

{% block body %}
    {%  include 'multikart/partial/header.html.twig' %}
    {% block content %}
    {% endblock %}
    {%  include 'multikart/partial/footer.html.twig' %}
{% endblock %}

{% block javascripts %}
    <!-- facebook chat section start -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="2123438804574660"
         theme_color="#0084ff"
         logged_in_greeting="Hi! Welcome to PixelStrap Themes  How can we help you?"
         logged_out_greeting="Hi! Welcome to PixelStrap Themes  How can we help you?">
    </div>
    <!-- facebook chat section end -->


    <!-- latest jquery-->
    <script src="{{asset('/multikart/assets/js/jquery-3.3.1.min.js')}}"></script>

    <!-- fly cart ui jquery-->
    <script src="{{asset('/multikart/assets/js/jquery-ui.min.js')}}"></script>

    <!-- exitintent jquery-->
    <script src="{{asset('/multikart/assets/js/jquery.exitintent.js')}}"></script>
    <script src="{{asset('/multikart/assets/js/exit.js')}}"></script>

    <!-- popper js-->
    <script src="{{asset('/multikart/assets/js/popper.min.js')}}"></script>

    <!-- slick js-->
    <script src="{{asset('/multikart/assets/js/slick.js')}}"></script>

    <!-- menu js-->
    <script src="{{asset('/multikart/assets/js/menu.js')}}"></script>

    <!-- lazyload js-->
    <script src="{{asset('/multikart/assets/js/lazysizes.min.js')}}"></script>

    <!-- Bootstrap js-->
    <script src="{{asset('/multikart/assets/js/bootstrap.js')}}"></script>

    <!-- Bootstrap Notification js-->
    <script src="{{asset('/multikart/assets/js/bootstrap-notify.min.js')}}"></script>

    <script src="{{asset('/multikart/assets/js/jquery.elevatezoom.js')}}"></script>
    <!-- Theme js-->
    <script src="{{asset('/multikart/assets/js/script.js')}}"></script>

    <script>
    </script>

{% endblock %}