{% extends 'multikart/main.html.twig' %}

{% block title %}{{breadcrumb.title}}{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}

    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    {%  include 'multikart/partial/corporate-left.html.twig' %}
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="top-banner-wrapper">
                                        <div class="top-banner-content">
                                            <h4>Gizlilik Politikası</h4>
                                            <p class="p1">
                                                <strong>www.spaburada.com</strong> , 19 MAYIS MAHALLESİ HALASKARGAZİ CADDESİ NO:206 HOLİDAY İNN ŞİŞLİ HOTEL İ&Ccedil;İ, 34360 Şişli 7/24<span class="Apple-converted-space">&nbsp; </span>ŞİŞLİ/İSTANBUL<span class="Apple-converted-space">&nbsp; </span>adresinde yerleşik merkezi olan, merkez adresli Spaburada E-Ticaret Hiz Şirketi&rsquo;ne bağlı bir internet hizmet kuruluşudur. Aşağıdaki Gizlilik Politikası Internet &uuml;zerinde edinilen bilgilerin toplanması, paylaşılması ve korunması ile ilgili olan kullanıcı haklarını a&ccedil;ıklamaktadır. Kullanıcılarımız siteyi ziyaret ederek aşağıdaki maddeleri kabul ettiklerini beyan etmiş olurlar. Aşağıda yer alan Gizlilik Politikası maddelerinin herhangi bir kısmını ya da tamamını kabul etmeyen kullanıcıların siteyi kullanmamaları gerekir. Gizlilik Politikası herhangi başka bir kaynak veya y&ouml;ntem kullanılmadan sadece www.spaburada.com &uuml;zerinden elde edilen bilgiler i&ccedil;in ge&ccedil;erlidir.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>1.</strong> Kişisel bilgiler olarak tanımlanan; adınız ve soyadınız ve T.C. Kimlik Numaranız, adres bilgileriniz, e-posta adresiniz ve şifreniz sitemizdeki hizmetlerden rahat&ccedil;a faydalanabilmeniz amacıyla g&uuml;venli olarak saklanmaktadır.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>2.</strong> Sitemizde tarafımızca saklanmış olan bilgiler, sunmuş olduğumuz hizmetlerden faydalanmak ve bir satış anlaşması yapmak i&ccedil;in kullanılmaktadır. Bahse konu olan bu bilgiler, bir satış anlaşması esnasında kullanıcılarımızın tercihleri doğrultusunda &uuml;&ccedil;&uuml;nc&uuml; kişiler ile paylaşılabilir.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>3.</strong> Farklı internet siteleri &uuml;zerinde sitemizin trafiğini arttırmak adına &ccedil;erezler (bir karakter dizisi i&ccedil;eren k&uuml;&ccedil;&uuml;k bir dosya) kullanmaktayız. Kullandığımız &ccedil;erezlerin &ccedil;oğu oturumunuzu kapattıktan sonra bilgisayarınızın ana belleğinden silinmektedir. Geri kalan &ccedil;erezler ise kullanıcıların tercihlerini kaydetmek, sitemize tekrar giriş yapıldığında kullanıcıların rahatlıkla tanımlanabilmesi ve kullanıcı eğilimlerini yakından izlemek de dahil olmak &uuml;zere hizmetlerimizin toplam kalitesini artırmak i&ccedil;in kullanılırlar. Anlaşma yaptığımız kampanya ortaklarımız bu &ccedil;erezleri kullanarak kullanıcı bilgilerini toplama, dağıtma ve kullanmaya vakıf değildirler. S&ouml;z konusu &ccedil;erezler tarafımızca her t&uuml;rl&uuml; kontrol ile geliştirilip uygulamaya konulmuştur. Bu kontrollere g&ouml;re vir&uuml;s ya da bilgisayarlara zarar verebilecek bilgiler ve veriler &ccedil;erezler &uuml;zerinde bulunmamaktadır. Ancak bununla beraber k&ouml;t&uuml; niyetli kullanıcıların sunmuş oldukları yazılım ve &ouml;nlenemeyen datalar ya da kendi hatalarınızdan dolayı &uuml;yelik işlemleri yaparken bilgisayarınızda var olan vir&uuml;s ve/veya Truva atı gibi programlar dolayısıyla, sunduğumuz &ccedil;erezler dolayısıyla herhangi bir şekilde sorumluluğumuz bulunmamaktadır</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>4. www.spaburada.com</strong> Google Analytics gibi &ccedil;eşitli &uuml;&ccedil;&uuml;n&ccedil;&uuml; kişi ya da kuruluşların takip sistemlerini kullanır. Google Analytics, Google Inc. Şirketinin Web Analiz Hizmetidir. Google Analytics kullanıcıların bilgisayarından topladığı bilgileri (IP adresi dahil) istatistiksel ama&ccedil;larla Amerika&rsquo;daki Google sunucusuna aktarır ve bilgiler burada saklanır. Toplanan bilgiler sitemizde bulunan kullanıcıların yapmış olduğu tercihleri değerlendirmek, sitemizin aktivite raporlarını d&uuml;zenlemek ve site hizmetlerini geliştirmek amacıyla kullanılır. Google, IP adresi de dahil olmak &uuml;zere kullanıcıların bilgilerini kendisinde saklı olan diğer bilgiler ile birleştirmez ve bu bilgileri kanuni ve yasal bir gerek&ccedil;e olmadığı s&uuml;rece &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşmaz. Sitemizde bulunan kullanıcılar tarayıcılarında uygun ayarları se&ccedil;erek &ccedil;erezlerin kullanımını kıstılayabilirler. Ancak bu durumda sitemizin t&uuml;m &ouml;zelliklerinden faydalanamayabilirler. Sitemizde bulunan kullanıcılar Google tarafından kişisel bilgilerinin yukarıdaki şartlar ve gerek&ccedil;eler dahilinde toplanmasını ve kullanılmasını onaylamış olmaktadırlar.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>5.</strong> Sitemizde bulunan kullanıcıların kişisel bilgileri, şirketimizin iletişim kampanyaları (e-posta, b&uuml;lten, sms vs.) dahilinde kendilerine bilgi vermek amacıyla kullanılabilir . Kullanıcılarımız bahse konu olan tanıtımlardan haberdar olmak istemezler ise diledikleri zaman info@spaburada.com adresine e-mail g&ouml;ndererek bu aktiviteyi durdurabilirler. Yeni kampanyalar hakkında bilgi almak i&ccedil;in kullanıcılarımız www.spaburada.com sitesi &uuml;zerinden haber b&uuml;ltenimize kayıt olabilirler veya daha &ouml;nceki kayıtlarını silebilirler.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>6.</strong> Kullanıcılarımızın kişisel bilgilerini devlet ve kamu g&uuml;venliğinin tehdidi gibi durumlarda, kanuni ve yasal sebeplerle T&uuml;rkiye Cumhuriyeti&rsquo;nin kurum ve kuruluşları ile paylaşabiliriz.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>7.</strong> Sitemizin kullanım şartnamesi ve koşullarını ve kullanıcı s&ouml;zleşmelerini kullanıcılarımıza e-posta yolu ile g&ouml;ndermekteyiz. Kullanıcılarımız diledikleri takdirde web sitemizi ziyaret ederek site kullanım şartnamesi ve koşullarını oturum a&ccedil;arak g&ouml;r&uuml;nt&uuml;leyip okuyabilirler. Ayrıca, kullanıcılarımız siteye giriş yaparak ge&ccedil;miş tarihlerde faydalanmış oldukları hizmetler hakkındaki detayları inceleyebilirler.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>8.</strong> Her t&uuml;rl&uuml; soru ve şikayetleriniz i&ccedil;in info@spaburada.com adresine mail atarak ya da sitemizde bulunan telefon numaralarından m&uuml;şteri destek hattımıza ulaşabilirsiniz.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>9.</strong> Bu siteden toplanan bilgiler şirketin satılması, birleşmesi veya yeniden yapılandırılması gibi durumlardan kaynaklanan şirket yapısındaki değişikliklerde &uuml;&ccedil;&uuml;nc&uuml; şahıs ya da kuruluşlara satılabilir veya devredilebilir.</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                <strong>10.</strong> Gizlilik politikasında kısmen ya da tamamen değişiklikler olabilir bu değişiklikler site &uuml;zerinde anında d&uuml;zeltilecektir. Değişikliklere bağlı olarak yapılan d&uuml;zeltmeler 1) sitemizin ana sayfasında 2) kullanıcılarımıza e-posta g&ouml;nderimiyle duyurulabilir. Sitemizi kullanmaya devam ederek gizlilik politikasındaki değişiklikleri kabul ettiğinizi beyan edersiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}