{% extends 'multikart/main.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}
{% block head_description %}{{ product.description }}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}
<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product-slick">
                        {% for image in product.image %}
                        <div><img src="/images/{{ image.image }}" alt="{{ image.title }}" class="img-fluid lazyload image_zoom_cls-0"></div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                {% for image in product.image %}
                                <div><img src="/images/{{ image.image }}" alt="{{ image.title }}" class="img-fluid lazyload"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>{{ product.title }}</h2>
                        <form action="{{ path('card_add') }}" method="post">
                        <div class="bundle_detail">
                            <div class="theme_checkbox">
                                {% for variant in product.variant %}
                                <label>{{ variant.title }} <span class="price_product"><h3>{{ variant.price | number_format(2, '.', ',') }} TL</h3><del>{{ variant.oldPrice | number_format(2, '.', ',') }}TL</del><h4><span>%{{ ((variant.price * 100)/variant.oldPrice) | number_format(2, '.', ',') }} indirim</span></h4></span>
                                    <input name="variant" value="{{ variant.id }}" type="radio" {% if variant.main %}  checked="checked"{% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="product-description border-product">
                            <h6 class="product-title">adet</h6>
                            <div class="qty-box">
                                <div class="input-group"><span class="input-group-prepend"><button type="button" class="btn quantity-left-minus" data-type="minus" data-field=""><i class="ti-angle-left"></i></button> </span>
                                    <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button" class="btn quantity-right-plus" data-type="plus" data-field=""><i class="ti-angle-right"></i></button></span></div>
                            </div>
                        </div>
                        <div class="product-buttons"><button type="submit" data-toggle="modal" class="btn btn-solid">SEPETE EKLE</button> <a href="#" class="btn btn-solid">HEMEN AL</a></div>
                        </form>
                        <div class="border-product">
                            <h6 class="product-title">ÜRÜN DETAYI</h6>
                            <p>{{ product.description | raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->


<!-- product-tab starts -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab" aria-selected="true">Açıklama</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab" aria-selected="false">Detaylar</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-toggle="tab" href="#top-contact" role="tab" aria-selected="false">OTEL</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item"><a class="nav-link" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab" aria-selected="false">Yorumlar</a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                        <p>Bu fırsat {{ expireDate }} tarihine kadar geçerlidir. Spa Hafta içi akşam {{ product.timeStart | date('H:i') }} - {{ product.timeEnd | date('H:i') }} saatleri arasında hizmet vermektedir. Fırsatı satın alanlar Kapalı {{ product.properties }} kullanımından yararlanabilirler. Randevu gereklidir, Randevu için gerekli bilgiler ve kupon kodu sizi arayacak olan müşteri temsilcilerimiz tarafından iletilecektir.  Randevu iptalleri {{ product.cancelTime }} saat önceden bildirilmelidir. Aksi takdirde fırsat kodlarınız kullanılmış sayılacaktır. İşletme, hizmetin kalitesinden ve müşteri memnuniyetinden sorumludur.</p>
                    </div>
                    <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                        <p>{{ product.description | raw }}</p>
                    </div>
                    <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
                        <div class="mt-4 text-center">
                            <h4>{{ product.vendor.title }}</h4>
                            <p>{{ product.vendor.address }}</p>
                            <iframe width="560" height="315" src="{{ product.vendor.mapCode }}"></iframe>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
                        <form class="theme-form">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <label>Rating</label>
                                        <div class="media-body ml-3">
                                            <div class="rating three-star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="name">Ad Soyad</label>
                                    <input type="text" class="form-control" id="name" placeholder="Adınızı giriniz" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email">Eposta</label>
                                    <input type="text" class="form-control" id="email" placeholder="Eposta" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="review">BAŞLIK</label>
                                    <input type="text" class="form-control" id="review" placeholder="Konu başlığı" required>
                                </div>
                                <div class="col-md-12">
                                    <label for="review">Yorum</label>
                                    <textarea class="form-control" placeholder="Yorumunuz" id="exampleFormControlTextarea1" rows="6"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-solid" type="submit">GÖNDER</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-tab ends -->
{% endblock %}
