{% extends 'multikart/main.html.twig' %}

{% block title %}{{breadcrumb.title}}{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}

    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    {%  include 'multikart/partial/corporate-left.html.twig' %}
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="top-banner-wrapper">
                                        <div class="top-banner-content">
                                            <h4>Kullanım Koşulları</h4>
                                            <p class="p1">
                                                <strong>1. </strong>Spaburada E-Ticaret Hiz. şirketinin www.spaburada.com isimli web sitesinde, başka kuruluşların (ortakların) hizmetleri ya da malları ile ilgili kuponlar sunulmaktadır. Kuponların keşidecisi ve kuponlarda belirtilen hizmetleri yerine getirmekle ya da malları teslim etmekle y&uuml;k&uuml;ml&uuml; olan, her defasında sadece işbu hizmetleri kendi Genel İşlem Şartları esasına g&ouml;re yerine getirmesi gereken ortaktır. Spaburada şirketinin kendisi, kuponlarda belirtilen hizmetleri yerine getirmekle ya da malları teslim etmekle değil, bilakis yalnızca size kuponun ortak tarafından yerine getirilmesi gereken hizmeti garanti etmekle sorumludur. Spaburada hizmetlerinin kullanımı i&ccedil;in yalnızca aşağıdaki Kullanım Şartları ge&ccedil;erlidir. Spaburada tarafından satılan kuponlar, ne somut bir hizmete, ne somut bir mala (mal kuponu) ne de belirli bir hizmet ya da mal değerine (değer kuponu) y&ouml;neliktir. M&uuml;şteri bu mal ve hizmetlerin misli t&uuml;m benzerlerini kapsadığını kabul eder.</p>
                                            <p class="p1">
                                                <strong>2.</strong> www.spaburada.com isimli web sitesi ve de işbu web sitesi &uuml;zerindeki kupon satış sistemi, İstanbul Ticaret Sicil M&uuml;d&uuml;rl&uuml;ğ&uuml;&rsquo;nde 75678894 sicil numarası ile kayıtlı 19 MAYIS MAHALLESİ HALASKARGAZİ CADDESİ NO:206 HOLİDAY İNN ŞİŞLİ HOTEL İ&Ccedil;İ, 34360 Şişli 7/24<span class="Apple-converted-space">&nbsp; </span>ŞİŞLİ/İSTANBUL merkez adresli Spaburada E-Ticaret Hiz. Şirketi tarafından işletilmektedir.</p>
                                            <p class="p1">
                                                <strong>3.</strong> Spaburada şirketinin Kullanım Şartları, ya satış işlemleri esnasında ilgili butona basarak ya da hizmetten ger&ccedil;ekten yararlanılarak, kabul edilmiş sayılır. Bu durumda tarafımızdan &ndash; Spaburada tarafından &ndash; verilen hizmetlerden yararlanarak, işbu Kullanım Şartları&rsquo;nı onayladığınızı kabul etmiş olursunuz. İşbu Kullanım Şartları her zaman www.spabruada.com adresinden &ccedil;ağırılabilir, basılabilir ve yerel olarak hafızaya kaydedilebilir.</p>
                                            <p class="p1">
                                                <strong>4. </strong>www.spaburada.com &uuml;zerinden aşağıdaki şekilde kupon satın alabilirsiniz:</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>4.1</strong> Giriş sayfasında &ldquo;Sepete Ekle&rdquo; butonuna basın.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>4.2</strong> Arzu ettiğiniz kupon sayısını se&ccedil;in.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>4.3</strong> Adınızı, e-mail adresinizi ve banka (soyadı, hesap numarası, banka kodu, banka adı) ya da kredi kartı bilgilerinizi girin.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>4.4</strong> Alım teklifiniz, Kullanım Şartları&rsquo;nı onaylamanız ve &ldquo;Sepete Ekle&rdquo; butonuna basmanız suretiyle sunulmuş olacaktır. Alım s&ouml;zleşmesinin Spaburada tarafından kabul&uuml;, size kupon kodunun g&ouml;nderilmesi ile ger&ccedil;ekleştirilir.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>4.5</strong> Satış s&uuml;resinin bitimine kadar kredi kartı limitiniz dahilinde satış bedeli tutarında blokaj konulacaktır.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>4.6</strong> Kuponu basın ve onu ilgili ortakta, başka bir ifadeyle ortağın işyerinde hizmete ya da mala &ccedil;evirin.</p>
                                            <p class="p1">
                                                <strong>5. </strong>Cayma hakkı</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>5.1</strong> Kullanıcı, s&ouml;zleşmenin akdedildiği g&uuml;nden itibaren 14 (ond&ouml;rt) g&uuml;n i&ccedil;inde herhangi bir gerek&ccedil;e g&ouml;stermeksizin cayma hakkına sahiptir. Cayma hakkı mal teslimine ilişkin s&ouml;zleşmelerde malın kendisine teslim edildiği g&uuml;nden itibaren 14 (ond&ouml;rt) g&uuml;n i&ccedil;erisinde kullanılabilir.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>5.2</strong> Cayma hakkı s&uuml;resi olan 14 (ond&ouml;rt) g&uuml;n sona ermeden &ouml;nce, kullanıcının onayı ile hizmetin ifasına başlanan s&ouml;zleşmelerde kullanılamaz.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>5.3</strong> Cayma hakkının kullanıldığına dair bildirim yukarıda &ouml;ng&ouml;r&uuml;len s&uuml;reler i&ccedil;erisinde, ortağa; e-posta, faks veya posta ile yazılı olarak yapılır. E-posta veya posta i&ccedil;eriğinde ge&ccedil;erli kimlik fotokopisinin de ibraz edilmesi gerekmektedir.</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>5.4</strong> Kupon g&ouml;nderildikten sonra hen&uuml;z ilgili mal veya hizmet teslim alınmamışsa cayma hakkının kullanıldığına dair bildirim yukarıda &ouml;ng&ouml;r&uuml;len s&uuml;reler i&ccedil;erisinde, Spaburada&rsquo;ya; aşağıdaki iletişim bilgileri aracılığıyla e-posta, faks veya posta ile yazılı olarak yapılır. E-posta veya posta i&ccedil;eriğinde ge&ccedil;erli kimlik fotokopisinin de ibraz edilmesi gerekmektedir.</p>
                                            <p class="p2" style="margin-left: 40px;">
                                                &nbsp;</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                Adres: 19 MAYIS MAHALLESİ HALASKARGAZİ CADDESİ NO:206 HOLİDAY İNN ŞİŞLİ HOTEL İ&Ccedil;İ, 34360 Şişli 7/24<span class="Apple-converted-space">&nbsp; </span>ŞİŞLİ/İSTANBUL</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                &Ccedil;ağrı Merkezi</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                08504666532</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                E-posta Adresi</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                info[at]spaburada.com</p>
                                            <p class="p2" style="margin-left: 40px;">
                                                &nbsp;</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                5.6 Bu hakkın kullanılması halinde, cayma bildiriminin tarafımıza ulaştığı tarihten itibaren 14 (ond&ouml;rt) g&uuml;n i&ccedil;erisinde almış olduğumuz bedeli iade etmeyi ve 10 (on) g&uuml;n i&ccedil;erisinde de iade konusu malı geri almayı taahh&uuml;t ederiz.</p>
                                            <p class="p1">
                                                <strong>6.</strong> Cayma hakkı aşağidaki hizmet sağlanmasi ve mal teslimine ilişkin s&ouml;zleşmelerde uygulanmaz:</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.1</strong> Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve ortağın kontrol&uuml;nde olmayan mal ve hizmetlere ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.2</strong> T&uuml;keticinin istekleri veya a&ccedil;ık&ccedil;a onun kişisel ihtiya&ccedil;ları doğrultusunda hazırlanan mallara ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.3</strong> Niteliği itibariyle geri g&ouml;nderilmeye elverişli olmayan ve &ccedil;abuk bozulma tehlikesi olan veya son kullanma tarihi ge&ccedil;me ihtimali olan malların teslimine ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.4</strong> Malın tesliminden sonra t&uuml;ketici tarafından ambalaj, bant, m&uuml;h&uuml;r, paket gibi koruyucu unsurlarının a&ccedil;ılmış olması şartıyla, ses veya g&ouml;r&uuml;nt&uuml; kayıtlarına, maddi ortamda sunulan kitaplara, dijital i&ccedil;eriklere, yazılım programlarına ve bilgisayar sarf malzemelerine ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.5</strong> Bahis veya piyangoya ilişkin hizmetlerin ifasına ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.6</strong> Elektronik ortamda anında ifa edilen hizmetler ve t&uuml;keticiye anında teslim edilen gayri maddi mallara ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.7</strong> Gıda maddelerinin, i&ccedil;eceklerin ya da diğer g&uuml;nl&uuml;k t&uuml;ketim malzemelerinin ortağın d&uuml;zenli teslimatları &ccedil;er&ccedil;evesinde t&uuml;keticinin meskenine veya işyerine g&ouml;t&uuml;r&uuml;lmesine ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.8</strong> Tesliminden sonra başka &uuml;r&uuml;nlerle karışan ve doğası gereği ayrıştırılması m&uuml;mk&uuml;n olmayan mallara ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.9</strong> Abonelik s&ouml;zleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi s&uuml;reli yayınların teslimine ilişkin s&ouml;zleşmeler,</p>
                                            <p class="p1" style="margin-left: 40px;">
                                                <strong>6.10</strong> Seyahat, konaklama, lokantacılık, eşya taşıma, araba kiralama, yiyecek-i&ccedil;ecek tedariki, eğlence sekt&ouml;r&uuml; ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin hizmetler gibi alanlarda hizmet veren sağlayıcılarla kurulan ve sağlayıcının belirli bir tarihte veya zaman dilimi i&ccedil;inde s&ouml;zleşme konusu hizmet edimini sunma y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; altına girdiği s&ouml;zleşmelere uygulanmaz.</p>
                                            <p class="p1">
                                                <strong>7.</strong> Bir kuponun satışı ile ilgili s&uuml;re zaman a&ccedil;ısından sınırlıdır ve her bir teklif i&ccedil;in Spaburada tarafından tekil olarak belirlenir. S&uuml;re sona erdikten sonra ilgili hizmet ya da malın satın alınması m&uuml;mk&uuml;n olmayacaktır.</p>
                                            <p class="p1">
                                                <strong>8.</strong> M&uuml;şteri tarafından &ouml;deme, ancak teklif s&uuml;resinin bitiminden sonra ve yalnızca asgari katılımcı sayısına ulaşılırsa ger&ccedil;ekleştirilir. Şayet talep edilen asgari katılımcı sayısına ulaşılmazsa, kuponun satışı ger&ccedil;ekleşmez ve banka hesabınızdan ya da kredi kartınızdan meblağ d&uuml;ş&uuml;lmez.</p>
                                            <p class="p1">
                                                <strong>9.</strong> Kuponun satışı ancak yaptığınız &ouml;demenin Spaburada tarafından başarılı şekilde kayda ge&ccedil;irilmesiyle vuku bulur. Şayet yapacağınız &ouml;deme ilk denemede başarılı olmazsa (&ouml;rn. belirtilen banka hesabı mevcut değilse, hesap yeterli bakiye arz etmiyorsa, kredi kartı numarası yanlış ise ya da kredi kartı limitini doldurmuşsa), kupon satışı ger&ccedil;ekleştirilmez.</p>
                                            <p class="p1">
                                                <strong>10.</strong> Kupon başarılı bir şekilde satın alındıktan sonra e-mail &uuml;zerinden, sipariş işleminde belirtmiş olduğunuz e-mail adresinize g&ouml;nderilir. E-mail hesabınızın doğruluğu tamamen sizin vermiş olduğunuz adresin ge&ccedil;erli olması ile ilgilidir. Yanlış adres yazımlarından kaynaklanan kupon g&ouml;nderimi ger&ccedil;ekleşmemesi durumunda Spaburada&rsquo;nın herhangi bir sorumluluğu bulunmamaktadır. Yanlış adres de dahil olmak &uuml;zere Kullanıcı tarafından internet sitesi &uuml;zerinden girişi yapılan veya iletilen her t&uuml;rl&uuml; bilgi daha sonraki bir tarihte Kullanıcı tarafından Spaburada hesabına erişilmesi suretiyle d&uuml;zeltilebilir veya değiştirilebilir. Kuponun g&ouml;nderimi, yapılan &ouml;deme banka hesabımızda kayda ge&ccedil;er ge&ccedil;mez ger&ccedil;ekleştirilir.</p>
                                            <p class="p1">
                                                <strong>11.</strong> Her kuponun &uuml;zerinde, ortağın kuponu hizmete ya da mala &ccedil;evirirken kendisinde mevcut bir listeden karşılaştırdığı iki kod numarası bulunmaktadır. Kupon devredilebilir. Kuponların &ccedil;oğaltılması, &uuml;zerinde değişiklik yapılması ya da manip&uuml;le edilmesi yasaktır. Spaburada, kuponun yasaya aykırı bir şekilde &ccedil;oğaltıldığına dair gerek&ccedil;eli bir ş&uuml;phe taşıması halinde, kaydedilen bilgileri ilgili ortağa iletme ve yargı yoluna gitme hakkını saklı tutar.</p>
                                            <p class="p1">
                                                <strong>12.</strong> Şayet farklı bir husus belirtilmemişse, her bir kupon yalnızca bir kere, bir restoran ya da mağaza ziyaretinde ya da farklı bir hadiseden yararlanılması halinde (ya da başka bir malın satın alımında) ortak nezdinde kullanılabilir. Ortak s&ouml;z konusu &uuml;r&uuml;n ve/veya hizmet i&ccedil;in &ouml;dediğiniz bedel karşılığında size fatura veya fiş d&uuml;zenleyerek verecektir. Şayet kupon t&uuml;m&uuml;yle kullanılmasa ya da hizmetten eksiksiz yararlanılmazsa, arada kullanılmayan fark iptal olur. Para iadesi m&uuml;mk&uuml;n değildir. Spaburada &uuml;r&uuml;n ve/veya hizmetin sağlayıcısı, sunucusu veya ifa edicisi olmadığından herhangi bir sorumluluk kabul etmez.</p>
                                            <p class="p1">
                                                <strong>13. </strong>Şayet farklı bir husus belirtilmemişse, kupon hizmetlerden s&uuml;resiz olarak yararlanma ya da mal satın alma hakkı tanımamaktadır. Bu nedenle hizmetin verileceği tarihi ortak ile bireysel olarak kararlaştırmanızı tavsiye ederiz. Bu konuda Spaburada&rsquo;nın herhangi bir sorumluluğu bulunmamaktadır.</p>
                                            <p class="p1">
                                                <strong>14.</strong> Şayet kupon &uuml;zerinde bir ge&ccedil;erlilik s&uuml;resi belirtilmişse, kupon ortakta yalnızca bu ge&ccedil;erlilik s&uuml;resi i&ccedil;erisinde hizmete ya da mala d&ouml;n&uuml;şt&uuml;r&uuml;lebilir; bu s&uuml;re dahilinde ortakta hizmete ya da mala d&ouml;n&uuml;şt&uuml;r&uuml;lmemiş olan kupon hakkında ge&ccedil;erlilik s&uuml;resi dolduktan sonra &uuml;cret iadesi de dahil olmak &uuml;zere herhangi bir hak talep edilemeyecektir.</p>
                                            <p class="p1">
                                                <strong>15.</strong> Spaburada, m&uuml;şterinin ortaktan satın aldığı &uuml;r&uuml;nler ya da yararlandığı hizmetler i&ccedil;in kalite ya da &ouml;zelliklere dair herhangi bir garanti &uuml;stlenmez. Kuponda belirtilen hizmet, m&uuml;şteriye ilgili ortak tarafından kendi adına ve kendi hesabına yerine getirilir, ki bu sebepten dolayı Spaburada m&uuml;şteriye karşı ortağın hizmeti yerine getirirken y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirmemesi durumundan sorumlu değildir. Şayet kupon hizmete ya da mala d&ouml;n&uuml;şt&uuml;r&uuml;l&uuml;rken sorunlar meydana gelirse, Spaburada bir &ccedil;&ouml;z&uuml;m bulmaya &ccedil;alışacaktır. L&uuml;tfen bu durumda info@spaburada.com adresimize bir e-mail g&ouml;nderin ya da bizimle 0850 466 6532 &rsquo;yi arayarak temasa ge&ccedil;in.</p>
                                            <p class="p1">
                                                <strong>16.</strong> Spaburada, web sitesinin kapsamını ve kullanışlılığını her zaman değiştirme, kısıtlama ya da durdurma hakkını saklı tutar. Hizmetimizi teknik arızalar olmaksızın sunma &ccedil;abasında olmamıza rağmen, &ouml;zellikle bakım &ccedil;alışmaları, geliştirme &ccedil;alışmaları ve/veya başka arızalar kullanım imk&acirc;nlarını kısıtlayabilir ve/veya bazen durdurabilir. Bu meyanda veri kaybı da meydana gelebilir. Bu nedenle Spaburada<span class="Apple-converted-space">&nbsp; </span>hizmetin kullanılabilirliği ya da teknik arızaların ya da veri kayıplarının husule gelmemesi ile ilgili garanti &uuml;stlenmez.</p>
                                            <p class="p1">
                                                <strong>17.</strong> Spaburada ve ortak, hizmetlerin telif ve diğer haklarını ve aynı zamanda yayınlanan i&ccedil;eriklerin, bilgilerin, resimlerin, videoların ve veri bankalarının bilumum telif haklarını ve diğer hakları (bundan b&ouml;yle &ldquo;Korunan Fikri M&uuml;lkiyet&rdquo;) saklı tutarlar. Spaburada veya ilgili ortaktan &ouml;nceden yazılı onay almaksızın Korunan Fikri M&uuml;lkiyet&rsquo;te bir değişiklik yapılması, &ccedil;oğaltılması, yayınlanması, &uuml;&ccedil;&uuml;nc&uuml; şahıslara iletilmesi ve/veya farklı bir şekilde kullanılması, kesinlikle yasaktır. Herhangi bir elektronik imkan ile Spaburada&rsquo;nın yazılı izni alınmaksızın www.spaburada.com sitesinden alınan belge, bilgi ve g&ouml;rseller &uuml;zerinde Spaburada&rsquo;nın herhangi bir sorumluluğu olmadığı gibi, bunları kullananlar hakkında Spaburada&rsquo;nın her t&uuml;rl&uuml; hukuki ve cezai yola başvurma hakkı saklıdır.</p>
                                            <p class="p1">
                                                <strong>18. </strong>Kişisel bilgilerin toplanması ve bunların kullanılması Kuponu satın almakla birlikte, Spaburada&rsquo;nın kişisel bilgilerinizi, &ouml;zellikle adınızı (adınız ve soyadınız), adresinizi, telefon numaranızı, e-mail adresinizi, sizinle iletişimini muhafaza etmesi ve size m&uuml;nhasır teklifler ya da Spaburada ile ilgili yenilikler hakkında &ouml;nemli bilgiler iletmesi amacıyla kullanmasına izin vermiş olursunuz. Ne zaman dilerseniz, herhangi bir neden belirtmeksizin, geleceğe y&ouml;nelik olarak onayınızı geri &ccedil;ekme imk&acirc;nına sahipsiniz. Onayınızı geri &ccedil;ektiğinize ilişkin beyanınızın e-mail aracılığı ile info@spaburada.com adresine iletilmesi gerekmektedir. Onayınızı geri &ccedil;ektikten sonra bilgilerinizi pek tabii artık bu ama&ccedil;larla kullanmayacağız.</p>
                                            <p class="p1">
                                                <strong>19.</strong> Spaburada işbu Kullanım Şartları&rsquo;nı, &ouml;rn. hukuki talepleri ger&ccedil;ekleştirmek ya da fonksiyon değişikliklerini dikkate almak amacıyla zaman zaman uyarlama yapabilir. Her defasında g&uuml;ncel Kullanım Şartları&rsquo;nı, www.spaburada.com adresinde bulabilirsiniz. Şayet değiştirilen Kullanım Şartları&rsquo;nı kabul etmezseniz, maalesef artık hizmetlerimizden yararlanamazsınız.</p>
                                            <p class="p1">
                                                <strong>20. </strong>İşbu Kullanım Şartları&rsquo;nda ya da ortakla akdedilen s&ouml;zleşmede belirtilen m&uuml;nferit h&uuml;k&uuml;mlerin t&uuml;m&uuml;yle ya da kısmen ge&ccedil;ersiz olması halinde, bu durum s&ouml;zleşmenin geri kalanının ge&ccedil;erliliğini etkilemez.</p>
                                            <p class="p1">
                                                <strong>21. </strong>Ortak tarafından ve Spaburada aracığıyla sunulan &uuml;r&uuml;n ve/veya hizmetler&rsquo;e ilişkin, başta 6502 sayılı T&uuml;keticinin Korunması Hakkında Kanun ve bu Kanun kapsamındaki ilgili mevzuat ve kapsamına giren hizmetler i&ccedil;in Mesafeli S&ouml;zleşmeler Y&ouml;netmeliği h&uuml;k&uuml;mleri de dahil olmak &uuml;zere, bu kanunlar uyarınca &ccedil;ıkarılmış t&uuml;m Y&ouml;netmeliklere, Tebliğlere ve sair ilgili mevzuata, ayrıca hizmetlerin kapsamına girdiği her t&uuml;rl&uuml; kanun ve ilgili mevzuata uymakla y&uuml;k&uuml;ml&uuml; olduğunuzu, bu mevzuatın ortağa y&uuml;klediği her t&uuml;rl&uuml; borcun ifasından dolayı tek sorumlu olduğunuzu, ortağın ilgili y&uuml;k&uuml;ml&uuml;l&uuml;klerini ihlal etmesi halinde Spaburada&rsquo;nın hi&ccedil;bir sorumluluğu bulunmadığını, Spaburada&rsquo;nın ortağın sunduğu &uuml;r&uuml;n ve/veya hizmetleri mevzuata uygun ve/veya taahh&uuml;t ettiği bi&ccedil;imde sağlayacağı y&ouml;n&uuml;nde hi&ccedil;bir garantisi ve taahh&uuml;d&uuml; bulunmadığını ve Spaburada&rsquo;dan bu nedenlerle herhangi bir talepte bulunmayacağınızı, ilgili taleplerinizi yalnızca ortağa y&ouml;nelteceğinizi kabul, beyan ve taahh&uuml;t edersiniz.</p>
                                            <p class="p1">
                                                <strong>22.</strong> Yukarıda 4. Maddede belirtilen şekilde kupon satın aldığınız takdirde, işbu &ldquo;Kullanım Şartları&rdquo;nı ve t&uuml;m i&ccedil;eriğini de kabul etmiş olacaksınız. Bu s&ouml;zleşmeye g&ouml;re, almış olduğunuz kuponlarda ortaklar tarafından sağlanan &uuml;r&uuml;n ve hizmetler alkoll&uuml; i&ccedil;ki t&uuml;ketimini gerektiriyorsa, T&uuml;rkiye Cumhuriyeti kanunlarına g&ouml;re, s&ouml;z konusu &uuml;r&uuml;n ve hizmette yer alan alkoll&uuml; i&ccedil;kiyi t&uuml;ketebilecek ve satın alabilecek yaşta (18 yaş ve &uuml;zeri) olduğunuzu ve s&ouml;z konusu &uuml;r&uuml;n ve hizmetlerin g&ouml;rsellerinin hi&ccedil;bir şekilde alkol t&uuml;ketimine sizi &ouml;zendirmediğini de kabul, beyan ve taahh&uuml;t edersiniz. Bununla birlikte ayrıca, satılan kuponlarda sunulan &uuml;r&uuml;n ve/veya hizmetler herhangi bir şekilde tur, turizm, otel, konaklama, eğlence gibi bir hizmet ve/veya &uuml;r&uuml;n&uuml; i&ccedil;eriyorsa, bu durumda da Spaburada&rsquo;nın herhangi bir şekilde bir turizm acentesi olmadığını, sadece bu t&uuml;r ortakların &uuml;r&uuml;n ve/veya hizmetlerini pazarlamaya aracılık eden bir kurum olduğunu, s&ouml;z konusu &uuml;r&uuml;n ve/veya hizmetlerin sağlayıcısı, acentası, bayii, turizm acentası ve benzeri &ouml;zel kanunlarda d&uuml;zenlenen yasal sorumlusu olmadığını, yalnızca aracılık vasfını haiz olması dolayısıyla, bunlara ait hi&ccedil;bir yasal y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml;n yerine getirilmesi ile sorumlu olmadığını ve hizmet ve/veya &uuml;r&uuml;n dolayısıyla kupon aldığınız ortağın size bu &uuml;r&uuml;n ve/veya hizmet karşılığında fatura ve/veya satış fişi vermesi gerektiğini, bundan dolayı Spaburada&rsquo;nın &uuml;r&uuml;n ve/veya hizmetin sağlayısı, sunucusu veya ifa edicisi olmadığından herhangi bir sorumluluk kabul etmediğini ve Spaburada&rsquo;nın hi&ccedil;bir şekilde Seyahat Acenteleri mevzuatına tabi olmadığını kabul, beyan ve taahh&uuml;t edersiniz.</p>
                                            <p class="p1">
                                                <strong>23.</strong> Bu Kullanım Şartları&rsquo;nda ve bu Kullanım Şartları&rsquo;ndan kaynaklanan uyuşmazlıklarda Milletlerarası Mal Satımına İlişkin S&ouml;zleşmeler Hakkında Birleşmiş Milletler Antlaşması (CISG) h&uuml;k&uuml;mleri uygulanmayacak ve T&uuml;rk hukuku ge&ccedil;erli olacaktır.</p>
                                            <p class="p1">
                                                24. Hizmeti sağlayan veya malı satan ortaktan faturanızı hizmetin sağlandığı anda ya da en ge&ccedil; 7 g&uuml;n i&ccedil;inde almayı unutmayınız. İşbu Kullanım Şartları&rsquo;nda bulunmayan hususlarda, kanuni zorunlulukların t&uuml;m&uuml;n&uuml; taşıyan ve her zaman www.spaburada.com internet sitemizde yer alan ve tarafınızca indirilebilecek olan Kullanım Şartları h&uuml;k&uuml;mlerinin yeterli bilgiyi taşıdığını kabul, beyan ve taahh&uuml;t edersiniz.</p>
                                            <p class="p1">
                                                <strong>25.</strong> Uyuşmazlık</p>
                                            <p class="p1">
                                                T&uuml;keticiler talep ve şikayetlerini yukarıda yer alan ortak iletişim bilgilerinin sağladığı kanallara ulaştırabilirler.</p>
                                            <p class="p1">
                                                <strong>26.</strong> Yetkili mahkeme</p>
                                            <p class="p1">
                                                İşbu s&ouml;zleşmenin uygulanmasında, G&uuml;mr&uuml;k ve Ticaret Bakanlığı&rsquo;nca ilan edilen değere kadar T&uuml;ketici Hakem Heyetleri ile mal ve hizmetin satın alındığı yer veya kullanıcının yerleşim yerindeki T&uuml;ketici Mahkemeleri yetkilidir.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}