{% extends 'multikart/main.html.twig' %}

{% block title %}{{breadcrumb.title}}{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}

    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    {%  include 'multikart/partial/corporate-left.html.twig' %}
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="top-banner-wrapper">
                                        <div class="top-banner-content">
                                            <h4>{{breadcrumb.title}}</h4>
                                            <p class="p1">
                                                <strong>Spaburada E-Ticaret Hizmetleri 6698 Sayılı Kişisel Verilerin Korunması Kanununa İlişkin Bilgilendirme Metni</strong></p>
                                            <p class="p1">
                                                Verdiğim, bilahare &ccedil;eşitli suretlerle vereceğim/kanunlar kapsamında tarafınızca edinilen iletişim bilgilerimin ve &uuml;r&uuml;n-hizmet alışverişlerime dair her t&uuml;rl&uuml; bilgiler dahil olmak &uuml;zere aşağıda belirtilen kişisel bilgilerimin; gizliliklerinin korunması i&ccedil;in l&uuml;zumlu tedbirler alınarak ve işlenmesine dair kanuni ilkelere ve kişisel veri saklama-imha politikalarına uygun şekilde;</p>
                                            <p class="p2">
                                                &nbsp;</p>
                                            <p class="p1">
                                                Veri Sorumlusu Şirketiniz Spaburada E-Ticaret Hiz. Şirketi ve keza Şirketiniz ortakları-iş ortakları, halefleri, servis sağlayıcıları-tedarik&ccedil;ileri ve belirleyeceği (sosyal medya-online reklam ağı işletmecileri dahil) diğer işlenme amacının gerektirdiği &uuml;&ccedil;&uuml;nc&uuml; kişiler/kuruluşlar (duruma g&ouml;re veri sorumluları, işleyenler ve/veya alıcı grupları) tarafından ve arasında, gerek aldığım/ilgilendiğim &uuml;r&uuml;n-hizmetler ile ilgili t&uuml;ketici hakları, m&uuml;şteri hizmetleri ve bunlara ilişkin ticari-mali ve hukuki sorumluluk-y&uuml;k&uuml;ml&uuml;klerin ger&ccedil;ekleştirilmesine dair yasal nedenlerle, gerek genel ve kişiye &ouml;zel &uuml;r&uuml;n-hizmet ve imkanlardan yararlandırılabilmem i&ccedil;in ve gerek ise her t&uuml;rl&uuml; &uuml;r&uuml;n-hizmet tanıtımı, reklam, iletişim, promosyon, satış, pazarlama, mağaza kartı, kredi kartı ve kullanıcı/&uuml;yelik/m&uuml;şteri işlemleri, bilgilendirmeleri ve uygulamaları yapılması amacıyla, b&ouml;ylece, bu iznimde belirtilen ve ayrıca kanunlarda kişisel verilerin işlenebileceği ve aktarılabileceği a&ccedil;ık&ccedil;a &ouml;ng&ouml;r&uuml;len hallerde, bilgilerin tarafımca alenileştirildiği durumlarda, her t&uuml;rl&uuml; t&uuml;ketici, &uuml;yelik ve diğer s&ouml;zleşmelerimin kurulması veya ifasıyla doğrudan doğruya ilgili olarak s&ouml;zleşme taraflarına ait kişisel verilerin işlenmesinin gerekli olduğu hallerde, keza veri sorumlusu/işleyen olarak her t&uuml;rl&uuml; hukuki y&uuml;k&uuml;ml&uuml;l&uuml;kleri yerine getirebilme i&ccedil;in zorunlu durumlarda, ayrıca hakların tesisi, kullanılması veya korunması i&ccedil;in veri işlemenin ve aktarmanın zorunlu olduğu durumlar ile temel hak ve &ouml;zg&uuml;rl&uuml;klerime zarar vermemek kaydıyla veri sorumlusu/işleyen olarak burada ve yasalarda &ouml;ng&ouml;r&uuml;lm&uuml;ş meşru menfaatler i&ccedil;in veri işlemenin ve aktarmanın zorunlu/gerekli olduğu hallerde tarafıma ait/ilgili isim, soyisim, rumuz, yaş/doğum tarihi, cinsiyet, medeni durum, evlilik tarihi, &ccedil;ocuk durumu, sahip olunan ulaşım aracı, yaşanılan b&ouml;lge, adres ve teslimat adresi, eğitim d&uuml;zeyi, meslek/iş, k&uuml;lt&uuml;rel, sanatsal, sportif, tatil vs. ilgi alanları-hobiler ve alışkanlıklar gibi demografik &uuml;ye/kullanıcı/m&uuml;şteri bilgileri, &ouml;zel-resmi kimlik, kimlik no. ve vergi bilgileri, fotoğraf, (g&uuml;venlik ama&ccedil;lı) g&ouml;r&uuml;nt&uuml; kayıtları ve &ccedil;ağrı merkezi g&ouml;r&uuml;şme ses kayıtları, her t&uuml;rl&uuml; &uuml;r&uuml;ne ve hizmete ilişkin alışveriş alışkanlığı-tercihler, beğeniler ve ilgili yorumlar, yararlanılan/katılınan kampanya, yarışma, anket vb.leri ile i&ccedil;erikleri, fatura i&ccedil;erikleri, &ouml;deme y&ouml;ntemleri, şifre gibi gizli bilgiler hari&ccedil; kart ve hesap bilgileri, eski ve yeni cep/ev/iş telefon/faks numaraları, mail adresleri, elektronik ticari ve sair iletişimlere yaklaşım-aksiyonlar, &ccedil;eşitli ama&ccedil;larla kullanılan sabit ve mobil cihaz ad(lar)ı, t&uuml;r&uuml;, modeli ve kodları, tanımlama bilgileri (&ccedil;erez, web tarayıcı işaretleri-bilgisi, IP, beacon, kablolu-kablosuz ağ bağlantı bilgisi vb), reklam tanıtıcısı bilgileri, sosyal medya profil ve hesap bilgileri-işlemleri ile konum verilerine dair kişisel bilgilerimin kısmen veya tamamen her t&uuml;rl&uuml; otomatik olan/olmayan y&ouml;ntemler ile (Şirketinize ve yukarıda anılan kuruluşlara s&ouml;zl&uuml;/yazılı verdiğim bilgilerden, mağazaları ve/veya bulundukları fiziki-sanal ortamları, mobil uygulamaları dahil olmak &uuml;zere internet sitelerini ziyaret ve i&ccedil;erik incelemelerimden, sosyal medya ve reklam ağı işletmecilerine ait sitelerdeki &uuml;yelik ve işlem bilgilerimden, Şirketiniz ve yukarıda anılan kuruluşlar nezdindeki (fiziki ve sanal/digital) &uuml;ye/kullanıcı/m&uuml;şteri ve &ccedil;ağrı merkezi işlemleri ile alışverişlere ve m&uuml;şteri memnuniyetine dair &ouml;deme-tahsilat-teslimat-şikayet-kampanya-anket işlemlerim ve bunların yasal mali belgeleri ile diğer belgeleri-kayıtlarından, ayrıca sabit-mobil nitelikli internet ve iletişim cihazlarımın ve/veya mobil uygulamaların muhtelif ortamlarda ve yerde kullanımlarından oluşan/edinilen yazılı, s&ouml;zl&uuml;, g&ouml;rsel ve teknik verilerden) temini, devralınması, yasal azami s&uuml;reler aşılmamak &uuml;zere ve bilginin mahiyetine g&ouml;re işlenme amacına uygun olarak &ouml;ng&ouml;r&uuml;lecek s&uuml;re ile yurt i&ccedil;inde ve dışında yazılı/manyetik arşivlere kaydedilmesi, depolanması, saklanması, muhafazası, elde edilebilir hale getirilmesi, kullanılması, g&uuml;ncellenmesi, değiştirilmesi, birleştirilmesi, yeniden d&uuml;zenlenmesi, sınıflandırılması, a&ccedil;ıklanması, yukarıda anılan kişiler/kuruluşlar itibari ile (yurt i&ccedil;inde-dışına) paylaşımı, aktarımı, aktarılması, transferi, imhası ve kanunlara uygun sair y&ouml;ntemler ile işlenmesi ve aktarımları i&ccedil;in iznim (onay ve rızam) istenmiştir.</p>
                                            <p class="p1">
                                                Mağazalarınızda, internet sitelerinizde ve/veya mobil uygulamalarınızda kişisel veri işlemleri hususunda yapılan bilgilendirmeleri &ouml;nceden g&ouml;rm&uuml;ş ve incelemiş, keza yukarıdaki a&ccedil;ıklamalarınızı ve isteğinizi her bakımdan değerlendirmiş olarak; kişisel verilerimin toplanma y&ouml;ntemi ve hukuki sebebini, hangi ama&ccedil; ve y&ouml;ntemlerle işleneceğini, kimlere hangi ama&ccedil;la aktarılabileceğini, ayrıca kişisel bilgilerimin işlenip işlenmediğini, işlenmişse buna ilişkin bilgileri, amacına uygun kullanılıp kullanılmadığını, yurt i&ccedil;inde ve dışında aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri &ouml;ğrenme, bilme ve t&uuml;m bu hususlarda bilgi talep etme haklarına, keza eksik veya yanlış işlenmiş olmaları halinde d&uuml;zeltilmesini, kanuni şartlarına ve y&ouml;ntemine uygun olarak silinmesini veya yok edilmesini ve bu durumun verilerimin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere bildirilmesini isteme, ayrıca, bilgilerimin otomatik sistemler ile analiz edilmesi sureti ile aleyhime bir sonucun ortaya &ccedil;ıkmasına itiraz etme ve kanuna aykırı olarak işlenmesi sebebi ile zarara uğramam halinde giderilmesini talep etme kanuni haklarına sahip olduğumu ve t&uuml;m bu konularda veri sorumlusu Şirketiniz Spaburada E-Ticaret Hiz. Şirketi&#39;ne mevzuatında belirli bilgiler (ve varsa belgelerle) kanuni usul&uuml;nce-y&ouml;ntemlerle başvurabileceğimi, bu başvurum i&ccedil;in ilgili yasaya-mevzuata g&ouml;re uygun işlemin yapılarak tarafıma mevzuatına uygun bi&ccedil;imde yazılı olarak veya elektronik ortamda yanıt verileceğini biliyor ve bu bilgiler &ccedil;er&ccedil;evesinde ve kanunlara uygun şekilde, anılan b&uuml;t&uuml;n kişisel bilgilerim ile ilgili olarak, yukarıda-aşağıda bahsi ge&ccedil;enlerce, yine yukarıda ayrıntılı belirtilen işlenmelerin, aktarım ve kullanımların yapılmasına a&ccedil;ık&ccedil;a izin veriyorum.</p>
                                            <p class="p1">
                                                &Ouml;te yandan, cep/ev/iş telefonu, mail adresi gibi iletişim bilgilerimin tarafıma yukarıdaki-aşağıdaki ama&ccedil;lar ile ticari elektronik g&ouml;nderilmesi i&ccedil;in alındığı, istediğim her zaman ve hi&ccedil;bir gerek&ccedil;e g&ouml;stermeksizin, g&ouml;ndereceğiniz elektronik iletilerde (ya da varsa yetkili mercilerce kurulan/kurdurulan sistemde) belirtilen işlemi (red) yaparak ilgili ticari elektronik iletişimi durdurabileceğim, kanunlar gereği m&uuml;mk&uuml;n veya yapılmakla y&uuml;k&uuml;ml&uuml; olunan iletişimlerin her hal&uuml;karda devam edeceği hususlarında da bilgilendirildim/biliyorum. Bu &ccedil;er&ccedil;evede ve kanunlara uygun şekilde, her t&uuml;rl&uuml; &uuml;r&uuml;n ve hizmetlere ilişkin &ccedil;eşitli tanıtım, reklam, promosyon, satış ve pazarlama amacıyla, keza, mağaza kartı, kredi kartı ve &uuml;yelik/m&uuml;şteri bilgilendirme, işlem ve uygulamaları i&ccedil;in Şirketiniz Spaburada E-Ticaret Hiz. Şirketi tarafıma SMS/kısa mesaj, anlık bildirim, otomatik arama, bilgisayar, telefon, faks, e-posta / mail, bluetooth, beacon, her t&uuml;rl&uuml; &ouml;zel-genel ağlar ve diğer elektronik iletişim ara&ccedil;ları ile ticari elektronik iletiler ve diğer iletiler g&ouml;ndermeleri i&ccedil;in a&ccedil;ık&ccedil;a izin ve onay veriyorum.</p>
                                            <p class="p1">
                                                Spaburada E-Ticaret Hiz. Şirketi tarafından iletilen e-posta bilgilendirme kanallarından: dilediğiniz vakit kolaylıkla tarafınıza gelen mail altında ki talimat doğrultusunda ayrılabilirsiniz.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}