{% extends 'multikart/main.html.twig' %}

{% block title %}{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    <!-- Tab product -->
    <section class="section-b-space p-t-0 ratio_asos">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="no-slider row">
                        {% for product in products %}
                        <div class="product-box">
                            <div class="img-wrapper">
                                <div class="front">
                                    <a href="/{{ product.link }}"><img src="/images/{{ product.getMainImage.image }}" class="img-fluid lazyload bg-img" alt=""></a>
                                </div>
                                <div class="cart-info cart-wrap">
                                    <a href="{{ path ('card_add_variant',{'variantId':product.getMainVariant.id}) }}" title="Sepete At"><i class="ti-shopping-cart" ></i></a> <a href="{{ path ('card_add_remove_favorite',{'productId':product.id}) }}" title="Favorilerine Ekle"><i class="ti-heart{{ cardservice.isFavorite(product.id) }}" aria-hidden="true"></i></a> </div>
                            </div>
                            <div class="product-detail">
                                <div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>
                                <a href="/{{ product.link }}">
                                    <h4>{{ product.title }}</h4>
                                    <h6>{{ product.getMainVariant.title }}</h6>
                                </a>
                                <h4 class="lable3">{{ product.getMainVariant.price | number_format(2, '.', ',')  }} TL<del>{{ product.getMainVariant.oldPrice | number_format(2, '.', ',')  }} TL</del></h4>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Tab product end -->
{% endblock %}