{% extends 'multikart/main.html.twig' %}

{% block title %}Spaburada  Hakkında{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h2>TEŞEKKÜRLER</h2>
                        <p>Siparişiniz Tamamlandı</p>
                        <p>Sipariş Numaranız:{{ order.orderId }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="product-order">
                        <h3>Sipariş Detayı</h3>
                        {% for item in order.detail %}
                        <div class="row product-order-detail">
                            <div class="col-3"><img src="/images/{{ item.product.product.getMainImage.image  }}" alt="" class="img-fluid lazyloaded"></div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>Ürün Adı</h4>
                                    <h5>{{ item.product.title }}</h5></div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>Adet</h4>
                                    <h5>{{ item.quantity }}</h5></div>
                            </div>
                            <div class="col-3 order_detail">
                                <div>
                                    <h4>Fiyat</h4>
                                    <h5>{{ item.price | number_format(2, '.', ',')}} TL</h5></div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="total-sec">
                            <ul>
                                <li>Ara Toplam <span>{{ order.total | number_format(2, '.', ',') }} TL</span></li>
                                <li>Vergi(KDV) <span>{{ order.tax | number_format(2, '.', ',') }} TL</span></li>
                            </ul>
                        </div>
                        <div class="final-total">
                            <h3>Toplam <span>{{ (order.total + order.tax) | number_format(2, '.', ',') }} TL</span></h3></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row order-success-sec">
                        <div class="col-sm-12">
                            <h4>Özet</h4>
                            <ul class="order-detail">
                                <li>Sipariş No: {{ order.orderId }}</li>
                                <li>Toplam: {{ (order.total + order.tax) | number_format(2, '.', ',') }} TL</li>
                            </ul>
                        </div>
                        <div class="col-sm-12 payment-mode">
                            <h4>Ödeme Yöntemi</h4>
                            <p>{{ paymentMethod }}</p>
                        </div>
                        <div class="col-md-12">
                            <div class="delivery-sec">
                                <h3>Sipariş Tarihi</h3>
                                <h2>{{orderDate}}</h2></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}