{% extends 'multikart/main.html.twig' %}

{% block title %}Spaburada  Hakkında{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}
    <section class="section-b-space">
        <div class="container">
            <div class="checkout-page">
                <div class="checkout-form">
                    <form name="checkout" method="post">
                    <div class="row">
                            <div class="col-lg-3 col-sm-12 col-xs-12">
                                <div class="checkout-title">
                                    <h3>Ödeme Bilgileri</h3></div>
                                <div class="row check-out">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Adınız</div>
                                        {{ form_widget(form.firstName) }}
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Soyadınız</div>
                                        {{ form_widget(form.lastName) }}
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">Telefon Numaranız</div>
                                        {{ form_widget(form.phone) }}
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <div class="field-label">E-Posta Adresiniz</div>
                                        {{ form_widget(form.email) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-sm-12 col-xs-12">
                                <div class="checkout-details">
                                    <div class="order-box">
                                        <div class="title-box">
                                            <div>Ürün <span>Toplam</span></div>
                                        </div>
                                        <ul class="qty">
                                            {% for item in cardservice.getBasket.items %}
                                            <li>{{ item.product.title }} × {{ item.quantity }} <span>{{ (item.quantity * item.product.price) | number_format(2, '.', ',') }} TL</span></li>
                                            {% endfor %}
                                        </ul>
                                        <ul class="sub-total">
                                            <li>Ara Toplam <span class="count">{{ cardservice.getBasket.total | number_format(2, '.', ',') }} TL</span></li>
                                        </ul>
                                        <ul class="sub-total">
                                            <li>KDV <span class="count">{{ (cardservice.getBasket.total * 0.18) | number_format(2, '.', ',') }} TL</span></li>
                                        </ul>
                                        <ul class="total">
                                            <li>Total <span class="count">{{ (cardservice.getBasket.total * 1.18) | number_format(2, '.', ',') }} TL</span></li>
                                        </ul>
                                    </div>
                                    <div class="payment-box">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                <ul>
                                                    <li>
                                                        <div class="radio-option">
                                                            {{ form_widget(form.paymentMethod ) }}

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-right">{{ form_widget(form.submit, { 'label': 'Sipariş Ver','attr': {'class': 'btn-solid btn'} } ) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}