{% extends 'multikart/main.html.twig' %}

{% block title %}Spaburada  Hakkında{% endblock %}
{% block head_description %}{% endblock %}
{% block head_keywords %}{% endblock %}
{% block content %}
    {%  include 'multikart/partial/breadcrumb.html.twig' %}
    <section class="cart-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                        <tr class="table-head">
                            <th scope="col">RESİM</th>
                            <th scope="col">ÜRÜN ADI</th>
                            <th scope="col">FİYAT</th>
                            <th scope="col">ADET</th>
                            <th scope="col">SİL</th>
                            <th scope="col">TOPLAM</th>
                        </tr>
                        </thead>
                        {% for item in cardservice.getBasket.items %}
                        <tbody>
                        <tr>
                            <td>
                                <a href="{{ path('product',{'productlink':item.product.product.link}) }}"><img src="/images/{{ item.product.product.getMainImage.image  }}" alt=""></a>
                            </td>
                            <td><a href="{{ path('product',{'productlink':item.product.product.link}) }}">{{ item.product.title }}</a>
                                <div class="mobile-cart-content row">
                                    <div class="col-xs-3">
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <input type="text" name="quantity" class="form-control input-number" value="{{ item.quantity }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <h2 class="td-color">{{ item.product.price | number_format(2, '.', ',') }} TL</h2></div>
                                    <div class="col-xs-3">
                                        <h2 class="td-color"><a href="#" class="icon"><i class="ti-close"></i></a></h2></div>
                                </div>
                            </td>
                            <td>
                                <h2>{{ (item.quantity * item.product.price) | number_format(2, '.', ',') }} TL</h2></td>
                            <td>
                                <div class="qty-box">
                                    <div class="input-group">
                                        <input type="number" name="quantity" class="form-control input-number" value="{{ item.quantity }}">
                                    </div>
                                </div>
                            </td>
                            <td><a href="{{ path('card_remove',{'variantId':item.product.id}) }}" class="icon"><i class="ti-close"></i></a></td>
                            <td>
                                <h2 class="td-color">{{ (item.quantity * item.product.price) | number_format(2, '.', ',') }} TL</h2></td>
                        </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    <table class="table cart-table table-responsive-md">
                        <tfoot>
                        <tr>
                            <td>Toplam Fiyat :</td>
                            <td>
                                <h2>{{ cardservice.getBasket.total | number_format(2, '.', ',') }}</h2></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row cart-buttons">
                <div class="col-6"><a href="{{ path('index') }}" class="btn btn-solid">ALIŞ-VERİŞ'E DEVAM ET</a></div>
                <div class="col-6"><a href="{{ path('card_checkout') }}" class="btn btn-solid">ÖDE</a></div>
            </div>
        </div>
    </section>
{% endblock %}