<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SpaBurada{% endblock %}{% block slogan %} - Uygun Fiyat, Kaliteli Hizmet{% endblock %}</title>
        <meta name="description" content="{% block head_description %}{% endblock %}">
        <meta name="keywords" content="{% block head_keywords %}{% endblock %}">
        <meta name="author" content="{% block author %}info@spaburada.com{% endblock %}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
