<div class="col-lg-3">
    <div class="account-sidebar"><a class="popup-btn">Kurumsal</a></div>
    <div class="dashboard-left">
        <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> geri</span></div>
        <div class="block-content">
            <ul>
                <li class="{% if app.request.attributes.get('_route') == 'termofuse' %}active{% endif %}"><a href="{{ path('kullanimkosullari') }}">Kullanım Koşulları</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'privacy' %}active{% endif %}"><a href="{{ path('gizlilikpolitikasi') }}">Gizlilik Sözleşmesi</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'userpermission' %}active{% endif %}"><a href="{{ path('kisiselverilerinkorunmasi') }}">Kişisel Verilerin Korunması</a></li>

                <li class="{% if app.request.attributes.get('_route') == 'faq' %}active{% endif %}"><a href="{{ path('sikcasorulansorular') }}">Sıkça Sorulan Sorular</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'humanresource' %}active{% endif %}"><a href="{{ path('insankaynaklari') }}">insan kaynakları</a></li>
                <li class="{% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}"><a href="{{ path('iletisim') }}">iletişim</a></li>
            </ul>
        </div>
    </div>
</div>