<!-- footer -->
<footer class="footer-light">
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo"><img src="{{ asset('assets/images/icon/logo.png')}}" alt=""></div>
                        <p>Spaburada olarak ülkemizde artık neredeyse her otelin bünyesinde ve bağımsız merkezlerde yer alan SPA merkezlerini bir çatı altında beğeninize sunuyoruz.</p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col offset-xl-1">

                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>why we choose</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                <li><a href="{{ path('kullanimkosullari') }}">Kullanım Koşulları</a></li>
                                <li><a href="{{ path('gizlilikpolitikasi') }}">Gizlilik Politikası</a></li>
                                <li><a href="{{ path('sikcasorulansorular') }}">Sıkça Sorulan Sorular</a></li>
                                <li><a href="{{ path('insankaynaklari') }}">insan kaynakları</a></li>
                                <li><a href="{{ path('iletisim') }}">iletişim</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>store information</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li><i class="fa fa-map-marker"></i>19 Mayıs mah. Halaskargazi cad. No:206 HOLIDAY INN SISLI, Hotel içi 7/24, 34360 Şişli / İstanbul </li>
                                <li><i class="fa fa-phone"></i>Çağrı Merkezi: 08504666532</li>
                                <li><i class="fa fa-envelope-o"></i>Email Us: <a href="#">info@spaburada.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017-18 themeforest powered by pixelstrap</p>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="payment-card-bottom">
                        <ul>
                            <li>
                                <a href="#"><img src="{{ asset('assets/images/icon/visa.png')}}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('assets/images/icon/mastercard.png')}}" alt=""></a>
                            </li>
                            <li>
                                <a href="#"><img src="{{ asset('assets/images/icon/american-express.png')}}" alt=""></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->