<!-- header start -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
                        <div class="brand-logo">
                            <a href="/"><img src="{{ asset('/assets/images/icon/logo.png')}}" class="img-fluid lazyloaded" alt=""></a>
                        </div>
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <nav id="main-nav">
                                <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                    <li>
                                        <div class="mobile-back text-right">Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i></div>
                                    </li>
                                    <li class="active">
                                        <a href="#">Kurumsal</a>
                                        <ul>
                                            <li class="{% if app.request.attributes.get('_route') == 'termofuse' %}active{% endif %}"><a href="{{ path('kullanimkosullari') }}">Kullanım Koşulları</a></li>
                                            <li class="{% if app.request.attributes.get('_route') == 'privacy' %}active{% endif %}"><a href="{{ path('gizlilikpolitikasi') }}">Gizlilik Sözleşmesi</a></li>
                                            <li class="{% if app.request.attributes.get('_route') == 'userpermission' %}active{% endif %}"><a href="{{ path('kisiselverilerinkorunmasi') }}">Kişisel Verilerin Korunması</a></li>

                                            <li class="{% if app.request.attributes.get('_route') == 'faq' %}active{% endif %}"><a href="{{ path('sikcasorulansorular') }}">Sıkça Sorulan Sorular</a></li>
                                            <li class="{% if app.request.attributes.get('_route') == 'humanresource' %}active{% endif %}"><a href="{{ path('insankaynaklari') }}">insan kaynakları</a></li>
                                            <li class="{% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}"><a href="{{ path('iletisim') }}">iletişim</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Tüm Fırsatlar</a>
                                    </li>
                                    <li>
                                        <a href="#">VIP - Çiftlere Özel</a>
                                    </li>
                                    <li><a href="#">Uzak Doğu Masajları</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <div class="icon-nav">
                                <ul>
                                    <li class="onhover-div mobile-cart">
                                        <div><img src="../assets/images/icon/cart.png" class="img-fluid lazyload" alt=""> <i class="ti-shopping-cart"></i></div>
                                        <ul class="show-div shopping-cart">
                                            {% for item in cardservice.getBasket.items %}
                                            <li>
                                                <div class="media">
                                                    <a href="{{ path('product',{'productlink':item.product.product.link}) }}"><img alt="" class="mr-3" src="/images/{{ item.product.product.getMainImage.image  }}"></a>
                                                    <div class="media-body">
                                                        <a href="{{ path('product',{'productlink':item.product.product.link}) }}">
                                                            <h4>{{ item.product.title }}</h4>
                                                        </a>
                                                        <h4><span>{{ item.quantity }} x {{ item.product.price | number_format(2, '.', ',') }} TL</span></h4>
                                                    </div>
                                                </div>
                                                <div class="close-circle"><a href="{{ path('card_remove',{'variantId':item.product.id}) }}"><i class="fa fa-times" aria-hidden="true"></i></a></div>
                                            </li>
                                            {% endfor %}
                                            <li>
                                                <div class="total">
                                                    <h5>Toplam : <span>{{ cardservice.getBasket.total | number_format(2, '.', ',') }}</span></h5>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="buttons"><a href="{{ path('card_view') }}" class="view-cart">SEPETİ GÖR</a> <a href="{{ path('card_checkout') }}" class="checkout">ÖDEME YAP</a></div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header end -->
